{% extends 'base.html' %}

{% block title %}Přihlášení | ZK4 Production{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-sm rounded-4 border-0 p-4">
    <form method="post">
      {% csrf_token %}
      <h1 class="h3 mb-4 fw-bold text-center">Přihlášení</h1>
      
      <div class="form-floating mb-3">
        <input type="text" name="username" class="form-control rounded-3" id="floatingInput" placeholder="Jméno">
        <label for="floatingInput">Uživatelské jméno</label>
      </div>
      <div class="form-floating mb-4">
        <input type="password" name="password" class="form-control rounded-3" id="floatingPassword" placeholder="Heslo">
        <label for="floatingPassword">Heslo</label>
      </div>

      <button class="btn btn-primary w-100 py-2 rounded-pill fw-bold" type="submit">Přihlásit se</button>
    </form>
  </div>
  
{% endblock %}